{% extends 'layoutDetail.html' %}

{% block content %}

<h1>{{name}}</h1>
<table class="table is-hoverable">
    <tr>
        <th>Author</th>
        <th>Publisher</th>
        <th>Page Number</th>
    </tr>

    <tr>
        <td>{{details[0]}} {{details[1]}}</td>
        <td>{{details[2]}}</td>
        <td>{{details[3]}}</td>
    </tr>
</table>

<h1>Buraya content gelecek ... gnce</h1>

<div class="userRate">
    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <p>4.1 average based on 254 reviews.</p>
    <hr style="border:3px solid #f1f1f1">

    <div class="row">
        <div class="side">
            <div>5 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-5" style="width: 60%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>150</div>
        </div>
        <div class="side">
            <div>4 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-4" style="width: 30%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>63</div>
        </div>
        <div class="side">
            <div>3 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-3" style="width: 15%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>15</div>
        </div>
        <div class="side">
            <div>2 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-2" style="width: 10%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>6</div>
        </div>
        <div class="side">
            <div>1 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="bar-1" style="width: 20%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>20</div>
        </div>
    </div>
</div>

<form action="/rating" method="post">
    <label class="radio-inline">
        <h3>Rate this book </h3>
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio" checked>1
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio">2
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio">3
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio">4
    </label>
    <label class="radio-inline">
        <input type="radio" name="optradio">5
    </label>
    <label class="radio-inline">
        <input type="submit">
        <label>
</form>
<div>
</div>

{% endblock content %}

